.videoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  color: rgb(187, 13, 100);
}
/* Target all the children underneath .videoHeader */
.videoHeader > * {
  padding: 20px;
}
